# Terraform
.terraform/
.terraform.*
.terragrunt-cache/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
terraform.tfvars
*.tfvars

# Secrets / creds
.env
.aws/
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
